* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages4.alphacoders.com%2F741%2Fthumb-1920-74124.jpg&f=1&nofb=1");
    background-repeat: repeat-y;
    background-size: cover;
}

.container {
    width: 700px;
    border: 5px solid black;
    border-radius: 20px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Falexcheal.files.wordpress.com%2F2017%2F09%2Fbumpy-black-plastic-texture.jpg&f=1&nofb=1");
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

.prodotto {
    display: inline-block;
    position: relative;
    border: 3px double darkgrey;
    border-radius: 5px;
    background-color: rgba(211,211,211,0.5);
}

.prodotto img {
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.sconto {
    position: absolute;
    background-color: lightgreen;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
}

.cuore {
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
    font-size: 30px;
    width: 100%;
    display: none;
}

.prodotto:hover .cuore{
    display: block;
    cursor: pointer;
}
